:root {
  font-size: calc(1vw + 1vh + 0.4vmin);
}

html {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(0, 149, 255, 0.4);
  background: linear-gradient(to bottom right, rgba(0, 149, 255, 0.2), rgba(0, 149, 255, 0.6), rgba(102, 191, 255, 0.2));
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Courgette", Georgia, monospace;
}

p {
  font-family: "Palatino", Georgia, monospace;
}

header {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100vw;
  grid-area: 1 / 1 / 1 / 1;
  padding: 0.5rem;
  text-align: center;
  background-color: #f5463d;
}

.main__navigation {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.nav__item {
  margin: 0;
  padding: 0;
}

.nav__link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #f5463d;
  border: solid 0.1rem transparent;
  border-radius: 0.1rem;
  transition: all 400ms;
}

.nav__link:hover, .nav__link:active {
  background: white;
  color: rgba(26, 26, 230, 0.7);
}

.nav__text {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  background-color: #f5463d;
  border-radius: 0.1rem;
}

.is-active {
  border-bottom: solid 0.1rem white;
}

.main__container {
  width: 100vw;
  display: grid;
  grid-template-rows: 10vh 1fr;
  background: linear-gradient(to left, #33aaff, #99d5ff);
  text-align: center;
}

.page__container {
  grid-area: 2 / 1 / 3 / 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10vh 1fr;
  align-items: center;
  align-content: center;
  text-align: center;
}

button {
  color: #0095ff;
  background-color: white;
  padding: 20px 10px;
  border-radius: 1rem;
  font-family: "Marcellus", Georgia, monospace;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.search__container {
  display: grid;
  justify-items: center;
  justify-content: center;
  padding: 0.2rem 0rem;
  background: #0095ff;
  width: 100vw;
}

.search__form {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 70vw 1fr;
  grid-gap: 2rem;
  padding: 0.2rem 1.3rem;
  width: 100%;
}

.search__input {
  color: #3366cc;
  padding: 0.3rem 1.3rem;
  border-radius: 1rem;
  width: 90%;
}

.search__button {
  background-color: #3366cc;
  border: solid 0.2rem #f5463d;
  color: white;
  padding: 0.2rem 1.3rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 400ms cubic-bezier(0.215, 0.6, 0.355, 1);
}

.search__button:hover {
  background-color: #f5463d;
  color: white;
}

.login__form {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem 0;
}

.login__input {
  width: 100%;
  margin: 0;
  padding: 0.1rem 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  color: #3366cc;
  border: solid 0.2rem #f5463d;
  background-color: white;
}

.login__label {
  padding: 0.3rem 0.1rem;
  font-size: 1rem;
  font-weight: 800;
  color: #3366cc;
}

.login__button {
  margin: 0;
  padding: 0.1rem 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  background-color: #3366cc;
  border: solid 0.2rem #f5463d;
  color: white;
}

.login__title {
  margin: 0;
  padding: 0.1rem 0.3rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #f5463d;
}

.login__page {
  display: grid;
  grid-auto-flow: row;
  justify-content: space-around;
  align-content: center;
  padding: 0rem;
  background: #66bfff;
  width: 100vw;
  min-height: 80vh;
}

.list__container {
  display: grid;
  justify-content: space-around;
  align-content: center;
  padding: 0.2rem 0.3rem;
  background: #66bfff;
  width: 100vw;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.2rem 0.3rem;
}

.card__box {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 0.3rem;
  align-content: center;
  justify-content: center;
  background: #0095ff;
  padding: 0.2rem 0.3rem;
  border-radius: 1rem;
}

.card__title {
  margin: 0;
  font-size: 1.1rem;
  padding: 0 0.1rem;
  color: #f5463d;
  font-weight: 700;
  text-align: center;
  background-color: rgba(153, 213, 255, 0.9);
  border-radius: 15px;
}

.card__text {
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0 0.3rem;
  border-radius: 15px;
  background-color: rgba(102, 191, 255, 0.9);
  border-radius: 15px;
  margin: 0;
}

.upload__container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  padding: 0.2rem 0rem;
  background: #0095ff;
  border-radius: 1rem;
  width: 30vw;
}

.add__container {
  display: grid;
  justify-content: space-around;
  align-content: center;
  padding: 0.2rem 0rem;
  background: #66bfff;
}

.add__form {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-auto-flow: row;
  grid-gap: 1rem;
  padding: 0.2rem 1.3rem;
  background: #0095ff;
  width: 95%;
}

.add__input-field {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-gap: 0.2rem 0.3rem;
  padding: 0.2rem 0.3rem;
  align-content: center;
  justify-content: center;
}

.add__label {
  place-self: start;
  color: white;
  padding: 0.2rem 1.3rem;
  border-radius: 1rem;
}

.add__input {
  color: #3366cc;
  padding: 0.2rem 1.3rem;
  border-radius: 1rem;
  width: 100%;
}

.add_error {
  place-self: end;
  background-color: #f5463d;
  color: white;
}

.add_checkmark {
  color: green;
}

.add__submit {
  background-color: #3366cc;
  border: solid 0.2rem #f5463d;
  color: white;
  padding: 0.2rem 1.3rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.add__submit:hover {
  background-color: #f5463d;
  color: white;
}

.text__field {
  list-style: none;
  font-size: 1.1rem;
  padding: 0 0.1rem;
  color: #f5463d;
  font-weight: 700;
  text-align: center;
  background-color: rgba(153, 213, 255, 0.9);
  border-radius: 15px;
  width: 90%;
}

.progress__bar {
  padding: 0 0.1rem;
  color: #f5463d;
  text-align: center;
  background-color: rgba(153, 213, 255, 0.9);
  border-radius: 15px;
  width: 90%;
}

.progress__bar {
  margin: 0;
  padding: 0.3rem;
  font-size: 1.1rem;
  padding: 0 0.1rem;
  color: #f5463d;
  font-weight: 700;
  text-align: center;
  background-color: rgba(153, 213, 255, 0.9);
  border-radius: 15px;
  width: 90%;
}

.picture__input {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.upload__picture {
  height: 20vh;
  margin: 0;
  padding: 0.3rem 0.2rem;
}

.add__button {
  grid-area: 2 / 2 / 2 / 2;
}

.upload__button {
  color: #0095ff;
  color: white;
  background-color: #f5463d;
  padding: 0.3rem 0.2rem;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.upload__button:hover {
  animation: floating-text 500ms ease-in-out;
  text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4), 0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
  color: #f5463d;
  background-color: white;
}

.upload__button:disabled {
  animation: none;
  border: 0.2rem solid grey;
  background-color: white;
  color: grey;
  cursor: not-allowed;
}

.file__input {
  margin: 0;
  padding: 0.2rem;
  font-size: 1rem;
  color: white;
  background-color: rgba(13, 126, 206, 0.9);
  font-weight: 700;
  text-align: center;
  background-color: rgba(153, 213, 255, 0.9);
  border-radius: 15px;
  width: 90%;
}

.file__input:before {
  content: "Select image";
  display: inline-block;
  color: white;
  background-color: rgba(13, 126, 206, 0.9);
  border: solid 0.2rem #f5463d;
  border-radius: 0.2rem;
  padding: 0.3rem 0.2rem;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.7rem;
}

.file__input:hover:before {
  background-color: white;
  color: rgba(38, 142, 217, 0.9);
}

.file__input::-webkit-file-upload-button {
  visibility: hidden;
}

.search__shops {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(50vh, 1fr));
  gap: 5vmin 1vmin;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  transition: 0.7s ease-in;
  animation-name: jmena;
  animation-duration: 0.5s;
  padding: 1rem 0 3rem;
  width: 99vw;
}

.map__container {
  grid-area: 2 / 1 / 3 / 1;
  width: 100%;
  height: 80vh;
}

.reset__box {
  grid-column: 1 / -1;
}

.reset__button {
  color: #0095ff;
  background-color: white;
  padding: 1vmin 5vmin;
  border-radius: 1rem;
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.reset__button:hover {
  transform: scaleY(1.1);
  background-color: #f5463d;
}

.modal__button {
  color: #0095ff;
  color: white;
  background-color: #f5463d;
  padding: 0.3rem 0.2rem;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.modal__button:hover {
  animation: floating-text 500ms ease-in-out;
  text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4), 0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
  color: #f5463d;
  background-color: white;
}

.close__button {
  color: #0095ff;
  background-color: white;
  padding: 0rem 0.4rem;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.close__button:hover {
  transform: scale(1.1);
}

.more__button {
  grid-column: 1 / -1;
  background-color: #f5463d;
  color: white;
  padding: 1vmin 5vmin;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 90vw;
}

.more__button:hover {
  transform: scale(1.1) rotate(1deg);
  text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4), 0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
  color: #f5463d;
  background-color: white;
}

.more__box {
  display: grid;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  padding: 1.5rem;
  height: 10vh;
}

.modal {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  background: white;
}

.modal__overlay {
  grid-area: 1 / 1 / 5 / 1;
  grid-template-rows: 10vh 1fr;
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  z-index: 99;
  align-items: start;
  align-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.closed {
  display: none;
}

.open {
  display: grid;
}

.modal__wrap {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-rows: 10vh 1fr;
  grid-gap: 1rem;
  grid-area: 2 / 1 / 2 / 1;
  z-index: 6;
  padding: 0.2rem 1.3rem;
  background: #66bfff;
}

.modal__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding: 0.2rem 1.3rem;
}

.modal__map {
  padding: 0.2rem 0.5rem;
  height: "70vh";
  width: "100%";
  background: #0095ff;
}

.modal__box {
  display: flex;
  flex-flow: column;
  justify-items: center;
  justify-content: center;
  grid-gap: 0.2rem;
  padding: 0.2rem 1.5rem;
  height: 70vh;
  background: #0095ff;
}

.modal__title {
  padding: 0.2rem 0.3rem;
  color: #f5463d;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
  background-color: rgba(153, 213, 255, 0.9);
  border-radius: 0.5rem;
  width: 100%;
}

.modal__row {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 0.3rem;
}

.modal__website {
  height: 10vh;
  color: #75f075;
  font-weight: 600;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0 0.3rem;
}

.modal__link {
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0 0.3rem;
  border-radius: 15px;
  background-color: #fffacc;
}

.search__input {
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
}

.wine__wrap {
  margin: 0;
  padding: 0;
  display: grid;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.shops__box {
  grid-area: 2 / 1 / 3 / 1;
  display: grid;
  grid-auto-flow: row;
  gap: 5vmin 1vmin;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  align-content: space-evenly;
  padding: 1rem 0 3rem;
}

.shops__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(50vh, 1fr));
  gap: 5vmin 1vmin;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  transition: 0.7s ease-in;
  animation-name: jmena;
  animation-duration: 0.5s;
  overflow: hidden;
  width: 95vw;
}

.filtered__container {
  grid-area: 2 / 1 / 3 / 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 15vh repeat(auto-fit, minmax(20vh, 1fr));
  gap: 4vmin 4vmin;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  transition: 0.7s ease-in;
  animation-name: jmena;
  animation-duration: 0.5s;
  padding: 1rem 2rem 3rem;
  width: 90%;
}

.city_box {
  display: grid;
  grid-template-rows: 10vh 1fr 5vh;
  gap: 2vmin 1vmin;
  align-items: center;
  width: 100%;
  margin: 0px;
  border-radius: 1rem;
  padding: 0.2rem 0 0.1rem;
  background-color: #3399ff;
  text-align: center;
}

.citis__box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
  min-height: 80vh;
  padding: 2rem 4rem;
  margin: 0rem;
}

.citis__cell {
  margin: 1rem;
  padding: 0rem;
}

.citis__cell:hover {
  animation: floating-text 500ms ease-in-out;
}

.citis__cell:hover .citis__name {
  color: #3366cc;
  background-color: #f2f2f2;
  border: solid 0.2rem #3366cc;
  transform: scale(1.3);
}

@keyframes floating-text {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(1deg);
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4), 0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.citis__name {
  background-color: #3366cc;
  color: #f2f2f2;
  font-size: 1.1rem;
  font-weight: 800;
  padding: 0.5rem;
  text-align: center;
  border: solid 0.2rem transparent;
  border-radius: 0.8rem;
  transform: rotate(-1deg);
  transform: skew(-1deg, -2deg);
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.search__result-box {
  width: 100vw;
  display: grid;
  grid: 1fr/repeat(5, 1fr);
  grid-gap: 0.5rem;
  place-items: center;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  font-weight: normal;
  border-bottom: solid 0.1rem #d6665c;
  background-color: #0095ff;
  color: white;
  width: 99vw;
}

.search__content {
  display: flex;
  flex-flow: column;
  padding: 2rem 0rem;
  width: 100%;
}

.search__text {
  padding: 0.2rem 0.3rem;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.search__link {
  color: #75f075;
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
  text-decoration: none;
  padding: 0 0.3rem;
  cursor: pointer;
}

.info___box {
  width: 100%;
  height: 50vh;
  display: grid;
  grid: 5fr repeat(5, 1fr)/1fr;
  grid-gap: 0.1rem;
  place-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  font-weight: normal;
  background-color: rgba(0, 149, 255, 0.08);
  border-radius: 10px;
  color: #0095ff;
  overflow: hidden;
}

.info__adress {
  padding: 3px;
  background-color: rgba(0, 149, 255, 0.1);
  border-radius: 10px;
}

.info__title {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  font-family: "Marcellus", Georgia, monospace;
  background-color: rgba(0, 149, 255, 0.2);
  border-radius: 10px;
  color: #f5463d;
}

.info__picture {
  width: 80%;
}

.info__postal {
  padding: 3px;
  background-color: rgba(0, 149, 255, 0.1);
  border-radius: 10px;
}

.info__telephone {
  padding: 3px;
  color: white;
  text-align: center;
  background-color: rgba(102, 191, 255, 0.9);
  border-radius: 15px;
}

.info__link {
  background-color: rgba(0, 149, 255, 0.1);
  border-radius: 10px;
}

.business___box {
  margin: 0;
  padding: 0;
  display: grid;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.business__website {
  color: #75f075;
}

.business__text {
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0 0.3rem;
  border-radius: 15px;
  background-color: rgba(102, 191, 255, 0.9);
  margin: 0;
}

.business__title {
  font-size: 1.1rem;
  padding: 0 0.1rem;
  color: #f5463d;
  font-weight: 700;
  text-align: center;
  background-color: rgba(153, 213, 255, 0.9);
  border-radius: 15px;
  width: 90%;
}

.business__adress {
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0 0.3rem;
  border-radius: 15px;
  background-color: rgba(128, 202, 255, 0.8);
}

.business__postal {
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0 0.3rem;
  border-radius: 15px;
  background-color: rgba(128, 202, 255, 0.8);
}

.business__telphone {
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0 0.3rem;
  border-radius: 15px;
  background-color: rgba(102, 191, 255, 0.9);
}

.business__link {
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0 0.3rem;
  border-radius: 15px;
  background-color: #fffacc;
}

.front__picture {
  display: block;
  width: 95%;
  height: auto;
  margin: 2px auto 0px;
  border-radius: 15px;
}

.pic__caption {
  color: white;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
}

.cell__container {
  display: grid;
  grid: 1fr / 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  transform: rotate(1deg);
  transition: 0.7s ease-in;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cell__container:hover .cell__box .content__overlay {
  transform: translate(0, 0);
  opacity: 1;
}

.cell__container:hover .content__overlay {
  transform: translate(0, 0);
  opacity: 1;
}

.cell__box {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0px;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #3399ff;
  text-align: center;
}

.content__overlay {
  grid-area: 1 / 1 / 1 / 1;
  display: grid;
  grid-template-rows: 15vh repeat(4, 7vh);
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  font-size: 1rem;
  background-color: rgba(0, 149, 255, 0.81);
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 15px;
  transform: translate(0, -10vmin);
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

footer {
  display: grid;
  padding: 0;
  min-height: 10vh;
  padding: 0rem 0rem;
  background-color: rgba(26, 26, 230, 0.7);
}

.footer__box {
  display: grid;
  padding: 0.2rem 0.3rem;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.2rem 0.3rem;
}

.footer__text {
  background-color: #f7756e;
  color: #f2f2f2;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.8rem;
  border: solid 0.2rem #6688cc;
}

.footer__link {
  background-color: #f5463d;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.1rem 0.5rem;
  margin: 0rem;
  text-align: left;
  text-decoration: none;
  border-radius: 1rem;
}

@media all and (max-width: 1280px) {
  .shops__container {
    display: grid;
    grid-template-columns: repeat(4, 24vw);
    gap: 5vmin 1vmin;
  }
  .filtered__container {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    gap: 4vmin 4vmin;
    padding: 1rem 1.5rem 3rem;
  }
  .search__shops {
    display: grid;
    grid-template-columns: repeat(4, 24vw);
    gap: 5vmin 1vmin;
  }
}

@media all and (max-width: 980px) {
  .main__container {
    grid-template-rows: 15vh 1fr;
  }
  .main__navigation {
    grid-auto-flow: row;
  }
  .content__overlay {
    font-size: 1.2rem;
  }
  .shops__container {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    gap: 5vmin 1vmin;
  }
  .filtered__container {
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    gap: 4vmin 4vmin;
    padding: 1rem 1rem 3rem;
  }
  .search__shops {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    gap: 5vmin 1vmin;
  }
  .list__container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.2rem 0.3rem;
  }
  .upload__container {
    width: 45vw;
  }
}

@media all and (max-width: 736px) {
  .main__container {
    grid-template-rows: 15vh 1fr;
  }
  .main__navigation {
    grid-auto-flow: row;
  }
  .content__overlay {
    font-size: 1.5rem;
  }
  .shops__container {
    display: grid;
    grid-template-columns: repeat(2, 48vw);
    gap: 3vmin 0vmin;
    width: 99vw;
  }
  .filtered__container {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap: 4vmin 4vmin;
    padding: 1rem 1rem 3rem;
  }
  .search__shops {
    display: grid;
    grid-template-columns: repeat(2, 48vw);
    gap: 3vmin 0vmin;
  }
  .modal__wrap {
    grid-gap: 0rem;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }
  .modal__container {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    height: 80vh;
    width: 80vw;
  }
  .modal__box {
    height: 40vh;
    width: 100%;
    justify-content: stretch;
    padding: 1rem 0.1rem;
  }
  .list__container {
    grid-template-columns: 1fr;
    grid-gap: 0.2rem 0.3rem;
  }
  .upload__container {
    width: 100vw;
  }
}

@media all and (max-width: 480px) {
  .main__container {
    grid-template-rows: 15vh 1fr;
  }
  .main__navigation {
    grid-auto-flow: row;
  }
  .content__overlay {
    font-size: 2rem;
    height: 50vh;
  }
  .shops__container {
    display: grid;
    grid-template-columns: 100vw;
    justify-content: stretch;
    gap: 4vmin 1vmin;
    width: 99vw;
  }
  .filtered__container {
    display: grid;
    grid-template-columns: 80vw;
    justify-content: center;
    gap: 10vmin 0vmin;
    padding: 1rem 1rem 3rem;
  }
  .search__shops {
    display: grid;
    grid-template-columns: 100vw;
    justify-content: stretch;
    gap: 2vmin 1vmin;
  }
  .modal__overlay {
    justify-items: stretch;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
  }
  .modal__wrap {
    grid-gap: 0rem;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }
  .modal__container {
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    width: 80vw;
  }
  .modal__box {
    height: 40vh;
    width: 100%;
    justify-content: stretch;
    padding: 1rem 0.1rem;
  }
  .citis__box {
    width: 85%;
    justify-content: stretch;
    padding: 1rem 0.1rem;
  }
  .shops__box {
    justify-items: normal;
    justify-content: stretch;
  }
  .list__container {
    grid-template-columns: 1fr;
    grid-gap: 0.2rem 0.3rem;
  }
  .upload__container {
    width: 100vw;
  }
  .footer__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0.2rem 0.3rem;
  }
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}
/*# sourceMappingURL=styles.css.map */