$lightblue: hsla(205, 100%, 80%, 0.9);
$skyblue: hsla(205, 100%, 50%, 1);
$oceanblue: hsla(205, 100%, 70%, 0.9);
$waterblue: hsla(220, 60%, 50%, 1);
$deepblue: hsla(240, 80%, 50%, 0.7);
$steelblue: hsla(205, 100%, 50%, 0.1);
$red: hsla(3, 90%, 60%, 1);
$green: hsla(120, 80%, 70%, 1);
$greyshade: rgba(255, 255, 255, 0.4);
$greyshade: rgba(255, 255, 255, 0.4);
